<% if @contacts.blank? %>
<div class='alert alert-warning'>
  <strong>Record not found</strong>
</div>
<% end %>


<!-- sidebar -->
<div class='col-md-3'>
  <%= render 'layouts/sidebar' %>
  
  <div class='row'>
    <div class='col-md-12'>
      <div class='alert alert-info'>
        <span>Created by: </span>
        <h5 class='bold'>Renato Rosa Franco</span>
      </div>
    </div>
  </div>
</div>

<!-- yield --->
<div class='col-md-9'>

    <div class="panel panel-default">
      <div class='panel-heading clearfix'>
        <div class='pull-left'>
          <h4>All Contacts</h4>
        </div>

        <div class='pull-right'>
          <%= link_to  new_contact_path, class: 'btn btn-success' do %>
            <i class='glyphicon glyphicon-plus'></i>
            Add Contact
          <% end %>
        </div>
      </div>

      <table class="table">
        <% @contacts.each do |contact| %>
          <%= render 'contact', contact: contact %>
        <% end %>
      </table>            
    </div>

    <div class="text-center">
      <%= paginate(@contacts) if !@contacts.empty? %>
    </div>
  </div>
</div>
