<% if @contacts.blank? %>
<div class='alert alert-warning'>
  <strong>Record not found</strong>
</div>
<% end %>

<div class="panel panel-default">
  <table class="table">
    <% @contacts.each do |contact| %>
      <%= render 'contact', contact: contact %>
    <% end %>
  </table>            
</div>

<div class="text-center">
  <%= paginate(@contacts) if !@contacts.empty? %>
</div>
